[Unit]
Description=Chromium 53 browser
X-AFM-description=Chromium 53 browser
X-AFM-name=Browser
X-AFM-shortname=
X-AFM-id=chromium53-browser@0.1
X-AFM-version=0.1
X-AFM-author=Jose Dapena Paz <jose.dapena@lge.com>
X-AFM-author-email=
X-AFM-width=
X-AFM-height=
X-AFM--ID=chromium53-browser
X-AFM--target-name=main
X-AFM--content=chrome
X-AFM--type=application/x-executable
X-AFM--wgtdir=/opt/chromium53
X-AFM--workdir=/opt/chromium53

Wants=sockets.target
# Adds check to smack
ConditionSecurity=smack

# Automatic bound to required api

[Service]
EnvironmentFile=-/etc/afm/unit.env.d/*
SmackProcessLabel=User::App::Browser
SuccessExitStatus=0 SIGKILL
SystemCallFilter=~@clock        

WorkingDirectory=/opt/chromium53

ExecStart=/opt/chromium53/chrome --in-process-gpu --user-data-dir=/opt/chromium53/userdata
